body{
    margin: 0;
}

.flex-container{
    display: flex;
    flex: 1;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.sec-1{
    background-color: #1F2937;
    flex-direction: column;
}
.sec-2{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.sec-3{
    background-color: #E5E7EB;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec-4{
    align-items: center;
    justify-content: center;
}
.header{
    flex-direction: row;
    justify-content: space-around;
}
.header-log-cont{
    justify-content: center;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.links{
    justify-content: space-around;
}
.header-link{
    font-size: 18px;
    color: #E5E7EB;
}
.hero-layer{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.hero{
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}
.hero-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 75%;
}
.hero-second{
    font-size: 18px;
    color: #E5E7EB;
}
.hero-img{
    height: 300px;
    width: 500px;
}
.hero-i-div{
    justify-content: center;
    margin-bottom: 50px;
}
.hero-button{
    padding: 0;
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    color: #F9FAF8;
    font-weight: 900;
    box-sizing: border-box;
    border: 2px solid #3882F6;
    border-radius: 5px;
}
.hero-button:hover{
    background-color: #3882a3;
}
.hero-main, .hero-second{
    margin: 0;
}

.boxes{
    flex-direction: row;
    justify-content: space-around;
    width: 80%;  
}
.box-group{
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}
.box-square{
    width: 145px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 10px;
}
.box-text{
    text-align: center;
}
.info-header-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.info{
    width: 100%;
    justify-content: center;
}
.quote{
    flex: 1;
    align-self: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}
.quote-auth{
    align-self: flex-end;
    flex: 1;
    margin-right: 200px;
}

.call-button {
    flex: 1;
    padding: 0;
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    color: #F9FAF8;
    font-weight: 900;
    box-sizing: border-box;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
}
.call-button:hover{
    background-color: #3882a3;
}
.inner{
    background-color: #3882F6;
    width: 75%;
    height: 75%;
    box-sizing: border-box;
    flex-direction: column;
}
