body{
    margin: 0;
}

.flex-container{
    display: flex;
    flex: 1;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.sec-1{
    background-color: #1F2937;
    flex-direction: column;
}
.header{
    flex-direction: row;
    justify-content: space-around;
}
.header-log-cont{
    justify-content: center;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.links{
    justify-content: space-around;
}
.header-link{
    font-size: 18px;
    color: #E5E7EB;
}
.hero-layer{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.hero{
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}
.hero-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 75%;
}
.hero-second{
    font-size: 18px;
    color: #E5E7EB;
}
.hero-img{
    height: 300px;
    width: 500px;
}
.hero-i-div{
    justify-content: center;
    margin-bottom: 50px;
}
.hero-button{
    padding: 0;
    background-color: #3882F6;
    width: 100px;
    color: #F9FAF8;
    font-weight: 900;
    box-sizing: border-box;
    border: 2px solid #3882F6;
    border-radius: 5px;
}
.hero-button:hover{
    background-color: #3882a3;
}
.hero-main, .hero-second{
    margin: 0;
}
